/replit.txt
/sentdebot/
/.idea/discord.xml
/.idea/vcs.xml
/.idea/markdown.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/sentdebot.iml
